@charset  "UTF-8";

* {
   font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#B2BEBF,#616e6e);
}
main{
    background-color:#B2BEBF;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4750509a;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#BD2A2E ;
    text-align: center;
    text-shadow: 1px 1px 2px #922125a6;
}
h2{
    color: #486966;
}
p {
text-align: justify;
}